@media screen and (max-width: 1220px) {
    .post_media {width: 50% !important;}
    .container { width: 1100px; }
    .header_menuwrap ul li a { padding: 12px 13px; }
    .list_col { width: 530px; }
    .list_img { background: #FFFFFF; }
    .profile_active_details { width: 825px; }

    .page-title {
        width:100%; float:left;
    }
    .page-title .tt_left {
        width: 68%;
        float: left;
    }
    .page-title .pull-right {
        float: right;
        width: 80px;
    }
}

@media screen and (max-width: 1120px) {
    .post_media {width: 50% !important;}
    .container { width: 1000px; }
    .list_col { width: 490px; }
    .header_form { width: 440px; }
    .foot_logo, .policy { margin-right: 25px; }
    .profile_active_details { width: 75%; }
}

@media screen and (max-width: 1020px) {
    .post_media {width: 50% !important;}
    .container { width: 900px; }
    .header_menuwrap ul li a { font-size: 12px; }
    .list_col { width: 100%; }
    .header_form { width: 350px; }
    .foot_logo, .policy { margin-right: 15px; }
    .list_row { margin: 0; }
    .list_img { text-align: center; }
    .list_img img { margin: 0 auto; }
    .foot_rgt { width: 260px; }
    .profile_active_details { width: 70%; }
    .fllow_bns { position: relative; margin-bottom: 15px; top: auto; right: auto; }
	.profile_social_share  { top:auto !important; }
	.followers ul { margin-bottom: 15px; width:100%; }
	.list_row { width: 48%; }
	.list_row_section { float: left;width: 100%;margin-bottom: 10px; }
	.list_img img { width:100%; height: auto !important; }
	.boi_data { padding: 0px !important; }
}

@media screen and (max-width: 920px) {
    .post_media {width: 50% !important;}
    .container { width: 100%; padding: 0 15px; }
    .comment_section { width: 90%; }
    .header_form { width: 350px; }
    .foot_logo,
    .policy,
    .comp_info,
    .foot_rgt { width: 48%; float: left; margin: 15px 0; }
    .list_row { margin: 0; }
    .list_img { text-align: center; }
    .list_img img { margin: 0 auto; }
    .header_form { width: 255px; }
    .icons_wrap { width: 150px; }
    .main_menu { display: none; }
    .profile_account_menu_mobile { display:block; }
    .nav_triger{ display: block; }
	.profile_menu { display: block;
float: right !important;
z-index: 99;
position: relative; overflow: visible !important; }
    .profile_active_details { width: 65%; }
    .newsfeed_inner { width: 700px; }
	.list_row { width: 48%; }
	video { max-height:500px; }
    .post_media {width: 100% !important;}

    
}

@media screen and (max-width: 768px) {
    .post_media {width: 50% !important;}
    .foot_logo, .policy, .comp_info, .foot_rgt { width: 100%; float: none; margin: 15px 0;padding: 15px; }  
    .list_decp, .list_img, .list_col_inner { width: 100%; display: block; }
    .header_form { width: 100%; margin: 0; }
    .signup_wrap, .category_menu { margin: 5px 0px; }
    .section_menu{ margin-bottom: 30px; height: 45px; overflow: hidden; padding-right: 30px; }
    .section_menu.more_menu { height: auto; min-height: 45px; }
    .more_items { display: block; color:#6D3139;}
    .category_menu li { margin-bottom: 5px; }
    .innser_section_bottom { width:100%; }
    .signup_wrap_inner { width: 100%; }
    .double_input .form_field_inner:first-child { margin-right: 0px;  }
    .signup_form_section label { font-size: 12px; }
    .facebook, .google_plus { font-size: 14px; }
    .profile_active_details, .profile_photo_wrap { width: 100%; display: inline-block; margin: 0; text-align: center; }
    .profilewrap_popup .profile_photo_wrap {
        width: auto;
        float: left;
    }

    .fllow_bns { width: 100%; text-align: center; }
	.foll_desc p { padding-bottom: 10px; }
    .newsfeed_inner { width: 100%; /*padding: 0 15px;*/ }
    .feed_like_share ul li { width: 19%; margin-right: 12px; }
    .feed_like_share ul li a { font-size: 12px; }
    .feed_like_share ul li a i { font-size: 18px; }
    .newsfeed_menu li a { font-size: 14px; padding: 8px; }
    .write_img, .write_text { float: none; width: 100%; text-align: center; }
    .toggle_feed { float: right; }
    .feed_name h4, .feed_body_text h4 { font-size: 20px; margin: 0; }
    .feed_name { width: 60%; }
	.feed_header, .feed_image { margin-bottom:5px; }
    .comment_img > img, .comment_img { width: 45px; height: 45px; }
    .comment_box_wrap { width: calc(100% - 50px); }
	.follow_request ul { margin:0px; }
    .follow_request ul li { width: 30%; margin: 12px 2%; }
	/*.list_row { width: 48%; }*/
	.sort_by form .form_field, .newsfeed_inner .sort_by form .form_field { width:49% !important; margin-right:0px; margin-bottom: 10px;}
	.feed_body_text { margin:0; padding:0;}
	.feed_body_text p { margin-bottom:5px; }
	.comments_list { margin-top:0px; }
	.feed_comment { padding:7px 0px 7px 7px; }
	.inbx_left{
        width: 100%;
        margin-right: 0;
		min-height: auto !important;
		padding-bottom:0px;
		margin-bottom: 10px;
    }
	.inbox_header { text-align: center; padding: 0; margin: 0;}
	.conversation_view .panel .panel-heading { padding-left:0px; padding-right:0px; }
	.conversation_view .panel-control { margin-bottom:10px; }
	.conversation_view .panel-title { text-align:center }
	.conversation_view .panel-body p { text-align:center }
	#load_reply .timeline-label { min-height: auto; }
	#load_reply .timeline-entry { margin-bottom: 10px !important; }
	#load_reply .datetime { font-size: 12px; color: #afafaf; }
	.sort_by form .form_field select { width:100%! important; margin-right:0px; margin-bottom: 10px;}
    .inbx_right{
        width: 100%;
        margin: 10px 0 0 0;
    }
	.inbx_right { padding:0px; }
	.inbx_right #user_id { padding:0 2px; margin: 0;}
	.inbx_right .margin-top-20 { margin: 0;}
	.inbx_right .panel-heading { padding:10px; }

    .panel-control{
        float: none;
        padding-left: 0;
    }
    .staff_directory .pull-right{
        float: none !important;
    }
    .margin-top-20{
        margin-top: 10px;
    }
    .spacing_Responsive{
        padding: 10px 0;
    }
    .panel-control small{
        padding-bottom: 0;
    }
    
    #page-title{
        margin-bottom: 0;
        padding-bottom: 10px;
    }
    .breadcrumb{
        margin-bottom: 0;
    }
    .mail-list>li{
        display: block;
    }
    .mail-time{
        top: 15px;
    }
    .mail-from{
        float: none;
    }
	
	.show_post_options_detail { margin-right: 0px;}
	
	.single_feed {
		margin-top: 0px;
	}
	.sort_by form
	{
		margin-bottom:0px;
	}
    .main_menu .submenu { width:100%; }
    .profile_account_menu_mobile { display:block; }
	.list_decp > span { min-height: auto !important; }
	.chosen-container { width:100%!important; }
	.input_field.show_image_box { margin-top: 15px; }
	#profile_form { margin: 0 8px; }
	.single_feed { margin-bottom: 3px; }
	.newsfeed_wrap .form_field label { margin-bottom: 0px !important; }
	.display_info { margin: 0px !important; }
	.followers ul { margin: 0px !important; float: left;}
	.profile_wrap { padding:0px; margin-bottom: 0px;overflow:hidden }
	.followers ul li { width:auto !important; }
	.newsfeed_menu { margin:0px; }
    .share_n_text { margin-left: 65%; } 
    .ui-tabs .ui-tabs-nav {
        width:95% !important;
    }
    .tab-content {
        width: 100% !important;
    }
    .tab-content label {
        width: auto !important;
    }
    .tab-content .form-group div {
        clear:both;
    }

    
}

@media screen and (max-width: 600px) {
    .post_media {width: 100% !important;}
    .write_post .form_field { width: 100%; display: block; }
    .write_text input[type="text"], .write_text input[type="email"], .write_text input[type="password"], .write_text textarea, .write_text select { margin-bottom: 15px; }
    .newsfeed_menu li { width: 50%; }
	.list_row { width: 565px; }
	.write_img { width: 20%; float: left; }
	.mail-time{
        position: static;
    right: inherit;
    text-align: left;
    left: 0;
    }
	.write_text { width: 80%; float: left; padding: 0px 0px 0px 10px;}
	.write_post .action_field{
        text-align:left;
    }
    .mail-from{ 
        width: 100%;
    }
    .mail-subject{
        width: 100%;
    }
    .profilewrap_popup .prof_dest { float:none; }
    .profilewrap_popup .profile_photo_wrap {
        float: none;
        display: inline-block;
        width:auto;
    }
    .profilewrap_popup {
        box-shadow: none !important;
        margin: 0px 0px 10px 0px !important;
        /*padding: 0px 0px !important;*/
        border-bottom: 1px solid #ccc !important;
		overflow: hidden;
    }
    .profilewrap_popup .pro_pic {
        width: 50px;
        /*float: left;*/
    }
    .profilewrap_popup .prof_dest { display:inline-block; }
    .profilewrap_popup .profile_photo_wrap { margin-bottom:0px;    margin-top: 8px;  }
    .profilewrap_popup .fllow_bns { width:100%;clear: both;top: 0px; margin: 0px; padding: 5px 0;}
    .profilewrap_popup .fllow_bns a.btn { margin:0px; }
	.share_n_text { margin-left: 60%; } 
    .popup-gallery img { width: 100%; }
    .inner_section { display:none;}
}

@media screen and (max-width: 500px) {
    .post_media {width: 100% !important;}

    .double_input .form_field_inner, .double_input .form_field_inner:last-child { width: 100%; float: none; text-align: left; }
    .signup_form_section .switch-field { float: none; }
    .follow_request .lft_img_fllw, .follow_request .rgt_txt_fllw { width: 100%; }
	.list_row { width: 469px; }
	.inbx_left .btn-success { width: 60%;text-align: center;display: block;margin: 0 auto; }
	.share_n_text { margin-left: 60%; } 
	
}

@media screen and (max-width: 480px) {
    .post_media {width: 100% !important;}

	.list_row {
		margin: 0;
		width: 100%;
		margin-bottom: 10px;
	}
	.sort_by form .form_field { width:49%; margin-right:0px; margin-bottom: 10px;}
    .signup_wrap { margin: 0; padding-top: 12px; text-align: right; width: 70%; }
    .signup_wrap ul li a { padding: 0 0 0 5px; }
    .facebook, .google_plus { float: none; width: 100%; margin: 0 0 8px; }
    .followers ul li { width: 45%; margin: 12px 1%; }
    .fllow_bns a.btn { width: 49%; float:left; display: block; margin: 8px 0; }
    .form_field .input_field { width: 100%; }
	.write_post .btn_wrap, .write_post .action_field { width:66%; }
	.share_n_text { margin-left: 30%; } 
}

@media screen and (max-width: 360px) {
	.list_row {
		margin: 0;
		width: 100%;
		margin-bottom: 10px;
	}	
	.sort_by form .form_field { width:49%; margin-right:0px; margin-bottom: 10px;}
	.show_post_options { margin-top:0px; }
	.share_n_text { margin-left: 29%; } 
}

@media screen and (max-width: 320px) {
    .post_media {width: 100% !important;}
	.list_row {
		margin: 0;
		width: 100%;
		margin-bottom: 10px;
	}	
	.sort_by form .form_field { width:49%; margin-right:0px; margin-bottom: 10px;}
	/*.comment_box_wrap { width:76%; }*/
	.icons_wrap ul li { margin-left: 19px; float: left; }
	.write_post .btn_wrap, .write_post .action_field { width:66%; }
	.share_n_text { margin-left: 20% !important; } 
}













