/* highlight results */
.ui-autocomplete span.highlight_search_text {
    font-weight:bold;
}
.ui-autocomplete-loading {
    background: white url('../../../lib/autocomplete/ui-anim_basic_16x16.gif') right center no-repeat;
}
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}
.ui-autocomplete li {
    font-size: 16px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	border: #045575;
	background-color: #045575;
	color: #ffffff;
}